@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .navBtn,
  .btn {
    height: 24px;
  }
}

html,
body {
  padding: 0;
  margin: 0;

}

* {
  box-sizing: border-box;
}

.logo {
  font-family: 'Leckerli One', cursive !important;
  font-size: 20px;
}

.react-multiple-carousel__arrow {
  z-index: 3 !important;
  transform: scale(0.6);
  background-color: white !important;
 box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.282);
}

.react-multiple-carousel__arrow:before {
  color: black !important;
}
.filtersTab {
  width: 100%!important;
  transition: 0.5s linear !important;
 
}
.filtersTab:active {
  transition: 3s ease-in 1s!important;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  background: white !important;;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 40px;
  display: flex;
  align-items: center;
}

.slider {
  padding: 22px 0px;
}

.zoom-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  background: #3f51b5;
  width: 100%;
}

.zoom-range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.reactEasyCrop_Container {
  top: 48px!important;
  background-color: rgba(0, 0, 0, 0);
}
.controls:hover input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  border-radius: 50%;
}

.controls:hover input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}

@keyframes expand {
  from {
    
    width: 0%!important;
  }

  to {
    width: 100%!important;
  }
}
/* filters */
.filterOne {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.filterTwo {
  -webkit-filter: contrast(50%) hue-rotate(10deg);
  filter: contrast(50%) hue-rotate(10deg);
}

.filterThree {
  -webkit-filter: sepia(60%);
  filter: sepia(60%);
}

.filterFour {
  -webkit-filter: grayscale(100%) contrast(110%) brightness(130%);
  filter: grayscale(100%) contrast(110%) brightness(130%);
}
.imgContainer {
  padding: 20px;
  height: 100px;
  width: 100px;
  background-size: cover;
  color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.329);
  border-radius: 15px;
}
.border {
  border-color: rgba(128, 128, 128, 0.475) !important;
}
.modalOpen {
  animation: blowUpContent 0.2s linear;
}

.modalImage { 
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #141414 100%);
}

@keyframes blowUpContent {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  99.9% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}
.filtersOpen {
  animation: expandFilterTray 0.2s linear forwards;
}

.modlaImage {
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #141414 100%);
}
.reactEasyCrop_Container {
  background: black !important; 
}

@keyframes expandFilterTray {
  0% {
    width: 0px;
  }

  80.9% {
    width: 80%;
  }

  100% {
    width: 100%;
  }
}