@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .navBtn,
  .btn {
    height: 24px;
  }
}

html,
body {
  padding: 0;
  margin: 0;

}

* {
  box-sizing: border-box;
}

.logo {
  font-family: 'Leckerli One', cursive !important;
  font-size: 20px;
}

.react-multiple-carousel__arrow {
  z-index: 3 !important;
  transform: scale(0.6);
  background-color: white !important;
 box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.282);
}

.react-multiple-carousel__arrow:before {
  color: black !important;
}
.filtersTab {
  width: 0%!important;
    animation: expand 0.5s linear !important;
 
}
.filtersTab:active {
  animation: 3s ease-in 1s infinite reverse both running expand!important;
}
.bgImg {
  background-size: cover!important;
}
@keyframes expand {
  from {
    
    width: 0%!important;
  }

  to {
    width: 100%!important;
  }
}